*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #fffcfc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background-color: #000000;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(rgb(0, 0, 0), green, blue, alpha);
    width: 300px;
}
h1{
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
}

.label{
    margin-bottom: 8px;
    display: block;
    font-size: 14px;
    color: rgb(255, 255, 255)
}

.input {
    width: 100%;
    padding: 10px;
    background-color: 4caf50;
    color: #141313;
    border: nome;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botap:hover {
    background-color: aqua;
}

.resultado {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 255, 0);
}

.aprovado{
    color: green;
}

.recuperacao {
    color: orange;
}